/* Estructura principal */
.app {
  font-family: Arial, sans-serif;
  padding:0;
  margin-top: 100px;
  background-color: #333;
}
.superior-container {
  display: flex;
  flex-direction: row;
  background-color: #333;
  gap: 0px; /* o el espacio que prefieras */
}
/* Sección de Información del Producto */
.product-info {
  display: flex;
  gap: 0px;
}

.product-plan {
  width: 46%;
  padding: 0px;
  border: 1px solid #ddd;
}

.product-plan img {
  width: 100%;
  height: auto;
}