.procesos-container {
    width: 46%;
    max-width: 1000px;
    margin-left: 0px;
    padding: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    margin-top: 70px;
    color: #f5f5f5;
    box-sizing: border-box;
    height: 268px;
    display: flex;
    flex-direction: column;
}

  .procesos-title {
    text-align: center;
    margin-bottom: 20px;
    color: #81c784;
  }

.procesos-list {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

  .procesos-item {
    padding: 15px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  }
  .asignar-procesos-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}