.product-info {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  padding: 0 40px;
  box-sizing: border-box;
}

/* Estilos para cada secci贸n */
.product-plan,
.product-view,
.incident-section {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: black;
  box-sizing: border-box;
}

.product-plan h3,
.product-view h3,
.incident-section h3 {
  color: rgb(79, 182, 230);
  margin-bottom: 10px;
  text-align: center;
}

/* Botones de selecci贸n de plano */
.product-plan button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #5c5c5c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-plan button:hover {
  background-color: #777;
}

/* Contenedor para la lista de planos con scroll vertical */
.plan-list {
  max-height: 300px; /* Altura fija para la lista */
  overflow-y: auto; /* Scroll vertical */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Bot贸n buscar fijo debajo de la lista */
.buscar-button {
  margin-top: 12px !important;
  width: 100px !important;
  margin: 0 auto;
  padding: 10px;
  background-color: #2196f3 !important;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.buscar-button:hover {
  background-color: #1976d2 !important;
}

/* Imagenes dentro de cada secci贸n */
.product-plan img,
.product-view img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

/* Texto si no hay imagen */
.product-view p {
  color: white;
}

/* Inputs de incidencia */
.incident-section select,
.incident-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.incident-section textarea {
  height: 100px;
  resize: none;
}

.incident-section button {
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.incident-section button:disabled {
  background-color: #6e6c6c;
  cursor: not-allowed;
}

.selector-producto {
  margin-bottom: 10px;
}

.selector-producto label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

.selector-producto select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background-color: #2c2c2c;
  color: white;
}