 .menu-acciones-box {
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  gap: 50px; /* espacio entre Empleados y Puestos */
  width: 100%;
}

 .menu-acciones-container-50 {
    display: flex;
    width: 96%;
    gap: 50px; /* espacio entre los dos acordeones */
    padding: 20px;
    padding-top: 60px;
    margin-left: 24px;
  }

  .accordion-section {
    flex: 1; /* cada sección ocupa 50% del contenedor */
    border-radius: 8px;
    background-color: black;
    color: #fff;
    /*box-shadow: 0 3px 8px rgba(0,0,0,0.3);*/
  }

  .accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    background-color: black;
    border-radius: 8px 8px 0 0;
  }

  .accordion-content {
    background-color: black;
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .boton-item {
    flex: 1 1 120px;
    display: flex;
    justify-content: center;
  }

  .boton-item button {
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }

  .accordion-content {
  min-height: 80px; /* fuerza una altura base igual para ambos */
}

  .accordion-content > * {
    margin: 0 !important; /* elimina márgenes que empujan hacia abajo */
  }
