.informe-container {
  width: 93.3%;
  margin: 20px 73px 0 auto;
  padding: 20px 30px;
  background-color: #000;
  color: #81c784;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 255, 0, 0.05);
  border: 1px solid white;
}

.informe-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #81c784;
  font-weight: bold;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 25px;
}

.filtros select,
.filtros input[type="date"] {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #888;
  background-color: #111;
  color: #fff;
  font-size: 14px;
}

.filtros button {
  padding: 6px 16px;
  background-color: #43a047;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.filtros button:hover {
  background-color: #43a047 ;
 
}

.tabla-excel {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

.tabla-excel th,
.tabla-excel td {
  padding: 10px;
  text-align: center;
  border: 1px solid #444;
  word-break: break-word;
}

.tabla-excel thead {
  background-color: #1b1b1b;
}

.tabla-excel th {
  color: #5dc562;
  font-weight: bold;
  font-size:large ;
  background-color: #1b1b1b;
}

.tabla-excel tbody tr {
  background-color: #111;
  color: #e0e0e0;
}

.tabla-excel tbody tr:nth-child(even) {
  background-color: #1a1a1a;
}

.tabla-excel tbody tr:hover {
  background-color: #2c2c2c;
  color: #ffffff;
}

.tabla-excel td[colspan="9"] {
  text-align: center;
  color: #999;
  font-style: italic;
}